<section class="prose">
  <p>
    Welcome to my personal blog! There isn't much here right now 
    (just a placeholder post), but I plan to add more soon! In the
     meantime, check out my 
     <a href="https://www.pramodna.com/">main website</a> 
     to learn more about me and see my resume.
  </p>
</section>
