---
import { getCollection } from "astro:content";
import Post from "@/components/Post.astro";

const posts = (await getCollection("posts")).sort(
  (a, b) => b.data.publicationDate.valueOf() - a.data.publicationDate.valueOf())
  .slice(0, 5);
---

<section class="py-3">
  <h2 class="text-muted-text dark:text-dark-muted-text mb-3 text-lg font-bold">
    Recent Posts
  </h2>
  <div class="grid list-none gap-4 p-0">
    {posts.map((post) => <Post post={post} />)}
  </div>

  <div class="mt-6 flex justify-center">
    <a
      href="/posts"
      class="inline-flex items-center justify-center gap-1 rounded-2xl px-4 py-2 text-primary font-medium transition hover:underline"
    >
      <span>See all posts</span>
      <svg
        class="h-4 w-4"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        viewBox="0 0 24 24"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path  d="M9 5l7 7-7 7" />
      </svg>
    </a>
  </div>

</section>
